<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <%= form_for @article do |f| %>
      <div class="title">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <br>
      <div class="content">
        <%= f.label :content %>
        <%= f.text_field :content %>
      </div>
      <br>
      <%= f.submit %>
    <% end %>
  </div>
</div>
